.sidebar-container {
  width: 25%;
  min-width: 357px;
  height: 100vh;
  position: absolute;
  opacity: 1;
  color: black;
  transition: 0.3s all; /* animation duration */
  z-index: 100;
  background-color: white;

  text-align: left;
  box-shadow:
    0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 25px;
}

.sidebar {
  border-bottom: 1px solid black;
}

.sidebar-container.closed {
  margin-left: 150%;
}

.sidebar-container.show {
  margin-left: 80%;
}

.nodeTitle {
  margin-left: -15%;
  text-align: center;
}
