html,
body,
#root,
.App {
  height: 100%;
}

.App {
  font-family:
    Trebuchet MS,
    Lucida Grande,
    Lucida Sans Unicode,
    Lucida Sans,
    Tahoma,
    sans-serif;
  text-align: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.toolTip {
  width: fit-content;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #ffffff;
  box-sizing: border-box;
  border: 1px solid black;
  z-index: 100;
}

.controls {
  padding-bottom: 5px;
}

ReactFlow {
  z-index: -1;
}
.filter-container {
  width: fit-content;
  height: fit-content;
  margin-top: 92.5vh;

  color: black;
  border: 1px, solid, black;
  transition: 0.3s all; /* animation duration */
  z-index: 100;
  background-color: white;
  text-align: left;
  position: absolute;
}

.filter-container.show {
  margin-left: 79px;
  opacity: 1;
}

.filter-container.closed {
  margin-left: -79px;
  opacity: 0;
}

.customButton {
  cursor: pointer;
  outline: 0;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 0.25rem;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  :hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
  }
}

.customButton.sidebar {
  font-size: 9px;
  margin: 10px;
}

.customButton.delete {
  background-color: red;
  border-color: red;
  font-size: 9px;
  margin: 10px;
}

.customButton.delete.x {
  font-size: 5px;
}

Input {
  padding: 6px 12px;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 4px;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  :focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
  }
}

Select {
  padding: 6px 12px;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 4px;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  :focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
  }
}

h3 {
  text-decoration: underline;
}
