html,
body,
#root,
.App {
  height: 100%;
}

.App {
  font-family: sans-serif;
  text-align: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}
.fileUploadContainer {
  width: 500px;
  position: absolute;
  opacity: 1;
  color: black;
  transition: 0.3s all; /* animation duration */
  z-index: 100;
}
.toolTip {
  width: fit-content;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #ffffff;
  box-sizing: border-box;
  border: 1px solid black;
  z-index: 100;
}

.fileUploadContainer.show {
  margin-bottom: 10%;
  opacity: 1;
  color: black;
}

.fileUploadContainer.closed {
  margin-top: 100%;
  opacity: 0;
  color: white;
}

.controls {
  padding-bottom: 5px;
}

ReactFlow {
  z-index: -1;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
